
body{
  background-color:#BFD3C1;
  color: #694F5D;
  font-family:Sans-Serif;
}
.aClass{
 margin:0px 20px 20px 20px;
 text-align: left;
  padding: 20px;
  width: fill;  
   background-color: #68A691;
  font-size: 130%; 
}

h2{
  font-size: 220%;
  }

#header{
  text-align: center;
  padding: 9px;
  margin: 20px;
  border: 2px solid grey;
  background-color: #B2b6AB;
}
#nameForm{
  text-align: center;
}
.form-sub{
  padding: 20px; 
  text-align: center;
  cursor: pointer;
}

#content{
  margin: auto;
  width: 24%;
  padding: 10px;
  text-align: center;
  background-color: #68A6A1;
  font-size: 130%; 
}
#picId{
  margin: right;
  position: inline;
  padding: 10px;
  text-align: center;
  background-color: #68A6A1;
  

  
}