
body{
  background-color:#BFD3C1;
  color: #694F5D;
  font-family:Sans-Serif;
}
.aClass{
 margin:0px 20px 20px 200px;
  padding: 20px;
  width: 800px;  
   background-color: #68A691;
  font-size: 130%; 
}

h2{
  font-size: 220%;
  }

#header{
  text-align: center;
  padding: 9px;
  margin: 20px;
  border: 2px solid grey;
  background-color: #B2b6AB;
}
